/* Google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', cursive;
}

/* Utilites  */
.cream {
    background-color: #FFF9F4;
}

/* Navbar  */
.navbar-brand img {
    max-width: 30%;
}

.navbar-expand-lg .navbar-collapse {
    flex-basis: 50%;
}

/* Home  */
#home {
    padding: 5rem 0;
}

.home-item img {
    max-width: 80%;
}

.home-item h1 {
    font-size: 3.5rem;
}

.home-item span:first-child {
    color: #FA804C;
}

.home-item span:nth-child(2) {
    color: #363958;
}