/* Google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', cursive;
}

section {
    padding: 4rem;
}

/* Utilites  */
.cream {
    background-color: #FFF9F4;
}

.navycolor {
    color: #363958;
}

.btn-bg {
    background-color: #3D4FF3;
}

.btn:hover {
    background-color: #3d4ff3 !important;
}

/* Navbar  */
.navbar-brand img {
    max-width: 30%;
}

.navbar-expand-lg .navbar-collapse {
    flex-basis: 50%;
}

/* Home  */
#home {
    padding: 5rem 0;
}

.home-item img {
    max-width: 80%;
}

.home-item h1 {
    font-size: 3.5rem;
}

.home-item span:first-child {
    color: #FA804C;
}

.home-item span:nth-child(3aaa) {
    color: #363958;
}

/* Product  */
/* casual shoe  */
#product .card img {
    background-color: #e9ecef;
}